body,
html {

    width  : 100%;
    height : 100%;
    margin : 0;
    padding: 0;
    display: table;
}

body {
    display       : table-cell;
    vertical-align: middle;
}

form {
    /* shrinks to fit conntent */
    margin: auto;
}

#loginCard {
    padding-top          : 30px;
    padding-left         : 3%;
    padding-right        : 3%;
    font-size            : 16px;
    background-color     : rgba(255, 255, 255, .7);
    border-radius        : 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    -ms-border-radius    : 20px;
    -o-border-radius     : 20px;
}

#loginCard input {
    padding-top          : 25px;
    padding-bottom       : 25px;
    text-align           : center;
    border               : 0px;
    background-color     : rgba(255, 255, 255, .3);
    border-radius        : 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    -ms-border-radius    : 20px;
    -o-border-radius     : 20px;
}

#loginCard input:hover {
    background-color: #F5FCFF;
}

#loginCard button {
    margin-top           : 10px;
    padding-block        : 12px;
    border-radius        : 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    -ms-border-radius    : 20px;
    -o-border-radius     : 20px;
}


.wrapper {
    display              : inline-flex;
    width                : 100%;
    align-items          : center;
    justify-content      : space-evenly;
    border-radius        : 3px;
    padding              : 20px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius   : 3px;
    -ms-border-radius    : 3px;
    -o-border-radius     : 3px;
}

.wrapper .option {
    background     : rgba(255, 255, 255, 0.3);
    height         : 40px;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
    margin         : 1px;
    cursor         : pointer;

    transition: all 0.3s ease;
}

.wrapper .option-1 {
    border-top-left-radius   : 15px;
    border-bottom-left-radius: 15px;
}

.wrapper .option-3 {
    border-top-right-radius   : 15px;
    border-bottom-right-radius: 15px;
}

.wrapper .option .dot {
    height                  : 20px;
    width                   : 20px;
    opacity                 : 0;
    /* border-radius        : 50%; */
    position                : fixed;
    -webkit-border-radius   : 50%;
    -moz-border-radius      : 50%;
    -ms-border-radius       : 50%;
    -o-border-radius        : 50%;
}

.wrapper .option .dot::before {
    position     : absolute;
    content      : "";
    top          : 4px;
    left         : 4px;
    width        : 12px;
    height       : 12px;
    background   : #0069d9;
    border-radius: 50%;
    opacity      : 0;
    transform    : scale(1.5);
    transition   : all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot,
#option-3:checked:checked~.option-3 .dot {
    opacity   : 0;
    background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before,
#option-3:checked:checked~.option-3 .dot::before {

    opacity  : 0;
    transform: scale(1);
}

.wrapper .option span {
    font-size: 16px;
    color    : #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span {
    color: rgb(0, 0, 0);
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3,
#option-1:hover~.option-1,
#option-2:hover~.option-2,
#option-3:hover~.option-3,
button.btn-custom,
body {

    background     : linear-gradient(-45deg, #7AD7F0, #92DFF3, #B7E9F7, #DBF3FA, #F5FCFF);
    background-size: 400% 400%;
    animation      : gradient 15s ease infinite;


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}


.login-btn {
    text-align: center;
    transition: all 0.5s;
    cursor    : pointer;
}


.login-btn span {
    cursor    : pointer;
    display   : inline-block;
    position  : relative;
    transition: 0.5s;
}

#login:enabled span:after {
    content   : '\00bb';
    position  : absolute;
    opacity   : 0;
    top       : -5px;
    right     : -20px;
    transition: 0.5s;
    font-size : 20px;
}

#login:enabled:hover span {
    padding-right: 15px;
}

#login:enabled:hover span:after {
    opacity: 1;
    right  : 0;
}

#login:disabled {
    opacity: 0.5;
}