@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
    font-family: 'Roboto', sans-serif !important;
}


nav.navbar {
    background-color: rgba(255, 255, 255, 0.7);

}

.table-responsive {
    background: white;
}


.navbar img {
    border-radius        : 16%;
    object-fit           : cover;
    -webkit-border-radius: 16%;
    -moz-border-radius   : 16%;
    -ms-border-radius    : 16%;
    -o-border-radius     : 16%;
}



body {
    background       : linear-gradient(-45deg, #cffff3, #ffd8c5, #fea889, #c5fff9);
    background-size  : 400% 400%;
    animation        : gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

table {
    font-size: 16px;
}

table #modi {
    font-size: 14px;
}

tr #id {
    white-space: nowrap;
    width      : 10%;
}

tr #btn {
    white-space: nowrap;
    width      : 20%;
}

.table tbody tr td {
    vertical-align: middle;
}

.table tbody tr th {
    vertical-align: middle;
}

.card {
    padding-top          : 20px;
    margin               : auto;
    margin-top           : 20px;
    border-width         : 0px;
    width                : 16rem;
    border-radius        : 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius   : 24px;
    -ms-border-radius    : 24px;
    -o-border-radius     : 24px;
}

button i.bi {
    font-size: 20px;
}

button i.bi:hover {
    opacity: 50%;
}

a#back:link {
    color           : rgb(0, 0, 0);
    background-color: transparent;
    text-decoration : none;
}

a#back:visited {
    color           : rgb(0, 0, 0);
    background-color: transparent;
    text-decoration : none;
}

a#back:hover {
    color           : rgb(80, 80, 80);
    background-color: transparent;
    text-decoration : underline;
}

a#back:active {
    color           : rgb(0, 0, 0);
    background-color: transparent;
    text-decoration : underline;
}

#dashboard-lecturer tbody tr td button {
    text-align: left;
}

.btn-block {
    padding: auto;

}