@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
    font-family: 'Roboto', sans-serif !important;
}


nav.navbar {
    background-color: rgba(255, 255, 255, 0.7);

}

.table-responsive {
    background: white;
}


.navbar img {
    border-radius        : 16%;
    object-fit           : cover;
    -webkit-border-radius: 16%;
    -moz-border-radius   : 16%;
    -ms-border-radius    : 16%;
    -o-border-radius     : 16%;
}



body {
    background       : linear-gradient(-45deg, #7AD7F0, #92DFF3, #B7E9F7, #DBF3FA, #F5FCFF);
    background-size  : 400% 400%;
    animation        : gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

table {
    font-size: 16px;
}

table #modi {
    font-size: 14px;
}

tr #id {
    white-space: nowrap;
    width      : 10%;
}

tr #btn {
    white-space: nowrap;
    width      : 20%;
}

.table tbody tr td {
    vertical-align: middle;
}

.table tbody tr th {
    vertical-align: middle;
}

#adminCard a {
    border-radius  : 15px;
    text-decoration: none;
    color          : black;
    box-shadow     : 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#adminCard a:hover {
    transform        : scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform   : scale(1.05);
    -ms-transform    : scale(1.05);
    -o-transform     : scale(1.05);
    box-shadow       : 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

#subjectCard .card {
    border-radius  : 15px;
    text-decoration: none;
    color          : black;
    box-shadow     : 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* #subjectCard a:hover {
    transform        : scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform   : scale(1.01);
    -ms-transform    : scale(1.01);
    -o-transform     : scale(1.01);
} */


button i.bi {
    font-size: 20px;
}

button i.bi:hover {
    opacity: 50%;
}

a#back:link {
    color           : rgb(0, 0, 0);
    background-color: transparent;
    text-decoration : none;
}

a#back:visited {
    color           : rgb(0, 0, 0);
    background-color: transparent;
    text-decoration : none;
}

a#back:hover {
    color           : rgb(80, 80, 80);
    background-color: transparent;
    text-decoration : underline;
}

a#back:active {
    color           : rgb(0, 0, 0);
    background-color: transparent;
    text-decoration : underline;
}

#dashboard-lecturer tbody tr td button {
    text-align: left;
}

.btn-block {
    padding: auto;

}